<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.web.persistence.graduation.OrderMapper">
    <resultMap id="BaseResultMap" type="com.learn.bean.graduation.Order">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="user_code" jdbcType="VARCHAR" property="user_code" />
		<result column="product_name" jdbcType="VARCHAR" property="product_name" />
		<result column="product_code" jdbcType="VARCHAR" property="product_code" />
		<result column="reference_income" jdbcType="DOUBLE" property="reference_income" />
		<result column="limit_time" jdbcType="VARCHAR" property="limit_time" />
		<result column="buy_amount" jdbcType="DECIMAL" property="buy_amount" />
		<result column="price" jdbcType="DOUBLE" property="price" />
		<result column="total_money" jdbcType="DOUBLE" property="total_money" />
		<result column="buy_time" jdbcType="VARCHAR" property="buy_time" />
		<result column="risk" jdbcType="CHAR" property="risk" />
        <result column="status" jdbcType="CHAR" property="status" />     
	</resultMap>	
	<insert id="insert" parameterType="com.learn.bean.graduation.Order">
		insert into user_order(id,user_code,product_name,product_code,reference_income,limit_time,buy_amount,price,total_money,buy_time,risk,status)
		values (
		#{id,jdbcType=VARCHAR},
		#{user_code,jdbcType=VARCHAR},
		#{product_name,jdbcType=VARCHAR},
		#{product_code,jdbcType=VARCHAR},
		#{reference_income,jdbcType=DOUBLE},
		#{limit_time,jdbcType=VARCHAR},
		#{buy_amount,jdbcType=DECIMAL},
		#{price,jdbcType=DOUBLE},
		#{total_money,jdbcType=DOUBLE},
		#{buy_time,jdbcType=VARCHAR},
		#{risk,jdbcType=CHAR},
		#{status,jdbcType=CHAR}
		)
	</insert>
	<select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from user_order where user_code=#{user_code,jdbcType=VARCHAR} order by status,buy_time desc
	</select>
	<delete id="deleteOrder" parameterType="java.lang.String">  
        delete from user_order where id = #{id,jdbcType=VARCHAR}  
    </delete>
    <update id="updateOrder" parameterType="com.learn.bean.graduation.Order">
	    update user_order set status='3' where id=#{id,jdbcType=VARCHAR}    
	</update>
	<select id="selectOrderById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from user_order where id=#{id,jdbcType=VARCHAR}
	</select>
	<update id="updateOrderBuy" parameterType="com.learn.bean.graduation.Order">
	    update user_order set status=#{status,jdbcType=CHAR} where id=#{id,jdbcType=VARCHAR}    
	</update>
	<insert id="insertOldOrder" parameterType="com.learn.bean.graduation.Order">
		insert into order_cancel(id,user_code,product_name,product_code,reference_income,limit_time,buy_amount,price,total_money,buy_time,risk,status)
		values (
		#{id,jdbcType=VARCHAR},
		#{user_code,jdbcType=VARCHAR},
		#{product_name,jdbcType=VARCHAR},
		#{product_code,jdbcType=VARCHAR},
		#{reference_income,jdbcType=DOUBLE},
		#{limit_time,jdbcType=VARCHAR},
		#{buy_amount,jdbcType=DECIMAL},
		#{price,jdbcType=DOUBLE},
		#{total_money,jdbcType=DOUBLE},
		#{buy_time,jdbcType=VARCHAR},
		#{risk,jdbcType=CHAR},
		#{status,jdbcType=CHAR}
		)
	</insert>
</mapper>