<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.web.persistence.graduation.ProductMapper">
	<resultMap id="BaseResultMap" type="com.learn.bean.graduation.Product">
		<result column="product_code" jdbcType="VARCHAR" property="product_code" />
		<result column="public_date" jdbcType="VARCHAR" property="public_date" />
		<result column="user_code" jdbcType="VARCHAR" property="user_code" />
		<result column="product_name" jdbcType="VARCHAR" property="product_name" />
		<result column="plan_income" jdbcType="DOUBLE" property="plan_income" />
		<result column="reference_income" jdbcType="DOUBLE" property="reference_income" />
		<result column="limit_time" jdbcType="DATE" property="limit_time" />
		<result column="transfer_account" jdbcType="DECIMAL" property="transfer_account" />
		<result column="rest_account" jdbcType="DECIMAL" property="rest_account" />
		<result column="transfer_capital" jdbcType="DOUBLE" property="transfer_capital" />
        <result column="risk" jdbcType="CHAR" property="risk" />     
        <result column="state" jdbcType="CHAR" property="state" />
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="lastdate" jdbcType="VARCHAR" property="lastdate" />
        <result column="transfer_price" jdbcType="DOUBLE" property="transfer_price" />
	</resultMap>
	<resultMap id="fuzzymatch" type="com.learn.bean.graduation.FuzzyMatch">
		<result column="product_code" jdbcType="VARCHAR" property="product_code" />
		<result column="product_name" jdbcType="VARCHAR" property="product_name" />
        <result column="state" jdbcType="CHAR" property="state" />
        <result column="id" jdbcType="VARCHAR" property="id" />
	</resultMap>
	<sql id="Base_Column_List">rest_account,lastdate,transfer_price,id,user_code,product_code,public_date,product_name,plan_income,reference_income,limit_time,transfer_account,transfer_capital,risk,state</sql>
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from product where id=#{id,jdbcType=VARCHAR} 
	</select>
	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="com.learn.bean.graduation.Product">
		select
		<include refid="Base_Column_List" />
		from product 
	</select>
	<delete id="cancel" parameterType="java.lang.String">  
        delete from product where id = #{id,jdbcType=VARCHAR}  
    </delete>
	<select id="selectMatchs" resultMap="fuzzymatch" >
		select product_code,product_name,id,state
		from product 
	</select>
	<update id="update" parameterType="com.learn.bean.graduation.Product">
	    update product set rest_account=#{rest_account,jdbcType=DECIMAL},state=#{state,jdbcType=CHAR} where id=#{id,jdbcType=VARCHAR}    
	</update>
	<insert id="insert" parameterType="com.learn.bean.graduation.Product">
		insert into product(id,user_code,product_name,product_code,plan_income,reference_income,limit_time,transfer_price,transfer_account,transfer_capital,risk,state,lastdate,public_date,rest_account)
		values (
		#{id,jdbcType=VARCHAR},
		#{user_code,jdbcType=VARCHAR},
		#{product_name,jdbcType=VARCHAR},
		#{product_code,jdbcType=VARCHAR},
		#{plan_income,jdbcType=DOUBLE},
		#{reference_income,jdbcType=DOUBLE},
		#{limit_time,jdbcType=DATE},
		#{transfer_price,jdbcType=DOUBLE},
		#{transfer_account,jdbcType=DECIMAL},
		#{transfer_capital,jdbcType=DOUBLE},
		#{risk,jdbcType=CHAR},
		#{state,jdbcType=CHAR},
		#{lastdate,jdbcType=VARCHAR},
		#{public_date,jdbcType=DOUBLE},
		#{rest_account,jdbcType=DECIMAL}		
		)
	</insert>
</mapper>