<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.web.persistence.graduation.RealUserMapper">
	<resultMap id="BaseResultMap" type="com.learn.bean.graduation.RealUser">
		<result column="user_name" jdbcType="VARCHAR" property="user_name" />
		<result column="user_password" jdbcType="VARCHAR" property="user_password" />
		<result column="user_code" jdbcType="VARCHAR" property="user_code" />
		<result column="user_asset" jdbcType="DOUBLE" property="user_asset" />
		<result column="reg_time" jdbcType="VARCHAR" property="reg_time" />
	</resultMap>
	<sql id="Base_Column_List">user_name,user_password,user_code,user_asset,reg_time</sql>

	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from realuser where user_code = #{user_code,jdbcType=VARCHAR}
	</select>

	<insert id="insert" parameterType="com.learn.bean.graduation.RealUser">
		insert into realuser(user_name,user_password,user_code,reg_time)
		values (
		#{user_name,jdbcType=VARCHAR},
		#{user_password,jdbcType=VARCHAR},
		#{user_code,jdbcType=VARCHAR},
		#{reg_time,jdbcType=VARCHAR}		
		)
	</insert>
	<update id="update" parameterType="com.learn.bean.graduation.RealUser">
	    update realuser set user_asset=#{user_asset,jdbcType=DOUBLE} where user_code=#{user_code,jdbcType=VARCHAR}    
	</update>
	
	<select id="selectAllUsercode" resultMap="BaseResultMap">
		select user_code from realuser where user_code = #{user_code,jdbcType=VARCHAR}
	</select>
</mapper>