<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!-- 自动扫描 -->
    <context:component-scan base-package="com.learn.web" />
    <import resource="*-conf.xml"/>

    <!--fileupload-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- set the max upload size100MB -->
        <property name="maxUploadSize">
            <value>104857600</value>
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
    </bean>

    <!--<bean id="monitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor">-->
        <!--<property name="pointcut">-->
            <!--<bean class="net.bull.javamelody.MonitoredWithAnnotationPointcut"/>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>-->
    <!--<bean id="springDataSourceBeanPostProcessor" class="net.bull.javamelody.SpringDataSourceBeanPostProcessor">-->
        <!--<property name="excludedDatasources">-->
            <!--<set>-->
                <!--<value>excludedDataSourceName</value>-->
            <!--</set>-->
        <!--</property>-->
    <!--</bean>-->

     <!--<bean id="wrappedDataSource" class="net.bull.javamelody.SpringDataSourceFactoryBean">-->
        <!--<property name="targetName" value="targetDataSource" />-->
    <!--</bean>-->

    <!--<bean id="facadeMonitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor">-->
        <!--<property name="pointcut">-->
            <!--<bean class="net.bull.javamelody.MonitoredWithInterfacePointcut">-->
                <!--<property name="interfaceName" value="com.learn.bean.test.user" />-->
            <!--</bean>-->
        <!--</property>-->
    <!--</bean>-->

</beans>