/* CSS Document */
/* CSS banner Mall@GTJA */


/* banner main */
.banner{
	text-align: center;
	margin-top: 35px;
	height:400px;
	background:#d6e2ed;
}
.banner-center{
	width:1000px;
	height:400px;
	margin:auto;
}

/* banner images */
.banner-images{
	width:1000px;
	height:400px;
}


