/* CSS Document */

/* css universal */
* { margin:0; padding:0; border:0;}
body {  font-family: "微软雅黑",Arial,sans-serif; font-size:14px; }
a { text-decoration:none; color:#666;}
h3{color:#666; font-size:16px;}
h5{color:#666; font-size:14px;}
ul li{list-style:none;}
div#main{ background:#f1f1f1; width:100%;}
div.inner{ width:1000px;  margin:auto;}
div.inner div.blank#head{ height:35px;}
div.inner div.blank#head p{ float:right; margin:5px 0 0 20px;}
div.inner div.blank#head span{ color:#f99325; font-size:18px; top:5px;}
div.inner div.blank#head span#dropdown{ width:15px; height:15px; background: url(/SpringMvcStudy/resource/images/images2/dropdown_icon.png) no-repeat ; display:inline-block;}
div.inner div.blank#head span#first{ color:#333; font-size:16px;}
div.inner div.blank#head div#dropdown{  position:absolute; top:175px; left:825px; width:90px; border:1px solid #d1d1d1; color:#333; background-color:#fff; font-size:16px;}
div.inner div.blank#head div#dropdown ul li:hover{  background-color:#f1f1f1;}
/* div.inner div.blank#head p select{ opacity:0; position:fixed; top:150px; width:120px;}
div.inner div.blank#head p select option:hover{ background-color:#666 !important;}
div.inner div.blank#head p select option a:hover{ background-color:#666 !important;}
*/

div.inner div.confirm{ height:290px; border:1px solid #d8d8d8; background:#fff;}
div.inner div.confirm table thead{ border-bottom:1px solid #f99325; }
div.inner div.confirm table thead tr th{ background-color:#fff; }
.pro-table tbody tr td span.amount{	color: #f99325;	font-size: 30px;}
.pro-table tbody tr.noborder{	border-bottom:none;}

div.line hr{width:950px;border-top:1px dotted #999; margin:auto;  }
div.read{margin:36px 300px 36px 300px; width:380px;}
.hidden-input {    opacity: 0;    position: absolute; width:20px; height:20px;   }
input[type=checkbox]+span {    display: inline-block;    height: 20px;    width: 20px;		background: url(/SpringMvcStudy/resource/images/images2/unchecked_checkbox.png) no-repeat 0 0px;}
input[type=checkbox]:checked+span {	background: url(/SpringMvcStudy/resource/images/images2/checked_checkbox.png) no-repeat 0 0px;}
p.read{float:right; color:#666;}
p.read a{ color:#2961df;}

div.button {width:261px; height:40px; margin:auto;}
div.button a{display: inline-block;width:261px; height:40px; background: url(/SpringMvcStudy/resource/images/images2/conbuy_button.png) no-repeat;}
div.button a:hover{display: inline-block;background: url(/SpringMvcStudy/resource/images/images2/conbuy_hangon_button.png) no-repeat;}

div.inner div.confirm div.note a.excg{ background: url("/SpringMvcStudy/resource/images/images2/exchange_market_button.png") no-repeat; width:110px; height:36px;}
div.inner div.confirm div.note a.excg:hover{ background: url("/SpringMvcStudy/resource/images/images2/exchange_market_hangon_button.png") no-repeat;}
div.inner div.confirm div.note a.order:hover{ background: url("/SpringMvcStudy/resource/images/images2/order_hangon_button.png") no-repeat;}
div.inner div.blank#foot{ height:200px;}

