
/* ---- Some Resets ---- */

p,table, caption, td, tr, th {
	margin:0;
	padding:0;
	font-weight:normal;
	}

/* ---- Paragraphs ---- */

p {
	margin-bottom:15px;
	}
	
/* ---- Table ---- */

table {
	border-collapse:collapse;
	margin-bottom:15px;
	width:100%;
	}
	
	
	table td,
	table th {
		padding:15px;
		border:1px solid #f99325;
		border-width:0 1px 1px 0;
		}
		
	thead th {
		background:#FFC78E;
		}
			
		thead th[colspan],
		thead th[rowspan] {
			background:#FFC78E;
			}
		
	tbody th {
		text-align:left;
		background:#FFFAF4;
		}
		
	tbody td{
		text-align:center;
		background:#FFFAF4;
		}
	tbody tr.odd td { 
		background:	#FFAF60;
		}
		