/* CSS Document */

/* css universal */
* { margin:0; padding:0; border:0;}
body {  font-family: "微软雅黑",Arial,sans-serif; font-size:14px; }
a { text-decoration:none; color:#666;}
h3{color:#666; font-size:16px;}
h5{color:#666; font-size:14px;}
ul li{list-style:none;}
div#main{ background:#f1f1f1; width:100%;}
div.inner{ width:1000px; height:1050px; margin:auto;}
div.inner div.blank#head{ height:35px;}

div.inner ul#tab li {width:250px; height:70px; border-top:1px solid #dadada; }
div.inner ul#tab li p{margin:20px 20px 20px 50px; font-size:12px;}
div.inner ul#tab li span{width: 28px; height:28px; background: url("../images2/permission_read.png") no-repeat; position:absolute; margin:20px ;}
div.inner ul#tab li.current span{width: 28px; height:28px; background: url("../images2/permission_hangon.png") no-repeat; position:absolute; margin:20px ;}
div.inner ul#tab li.current div{width: 20px; height:70px; background-color:#fff; position:absolute; margin:-72px 0 0 230px ;}
div.inner ul#tab li:hover div{width: 20px; height:70px; background-color:#fff; position:absolute; margin:-72px 0 0 230px ;}
div.inner ul#tab li:hover span{width: 28px; height:28px; background: url("../images2/permission_hangon.png") no-repeat; position:absolute; margin:20px ;}
div.inner ul#tab li.current{ background-color:#fff; border-left:3px solid #fb9429;color:#fb9429;}
div.inner ul#tab li:hover{ background-color:#fff; border-left:3px solid #fb9429; color:#fb9429;}
div.inner div#content {width:750px; max-height:1000px; background-color:#fff; float:right; margin-top:-213px; border:1px solid #dadada;overflow:scroll;}
div.inner div#content ul{margin:30px; color:#666; font-size:14px; line-height:24px; }
div.inner div#content ul h4{color:#333; font-size:18px; text-align:center; margin-bottom:30px;}
div.inner div#content ul li p.left{margin-left:50px; float:left; }
div.inner div#content ul li p.right{margin-left:350px; }
div.inner div#content ul p.text{margin-top:50px; }


